[Desktop Entry]
Name=SysMonTask
Comment=monitor system state

# change it here for the executable 
TryExec=sysmontask
Exec=sysmontask

# change here for icon location 
Icon=/usr/share/sysmontask/icons/SysMonTask.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;Monitor;
Keywords=Monitor;System;CPU;Memory;Network;History;Usage;Performance;Task;Manager;Activity;