Source: sysmontask
Maintainer: Neeraj Kumar <neerajjangra4u@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools,lshw
Section: devel
Priority: optional
Standards-Version: 3.8.6
X-Python3-Version: >= 3.6

Package: sysmontask
Architecture: all
Description: System Monitor With UI Like Windows
Depends: ${python3:Depends},python3-gi-cairo,python3-gi,gir1.2-gtk-3.0,gir1.2-wnck-3.0
